.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}
table{
    border-collapse:collapse;
}

#testDivForTable table{
    width:100%;
}

#testDivForTable table td{
    height:35px;
    width:60px;
    text-align:center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div#guestLink {
    margin-left: 170px;
    margin-top: -42px;
    font-size: 17px;
}

/* Users table */
#users_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#users_table td, #users_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users_table tr:nth-child(even){background-color: #f2f2f2;}

#users_table tr:hover {background-color: #ddd;}

#users_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/*List style */
#users_table ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 1em;
    margin-right: 3em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#users_table li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

#users_table li:hover{
    background: #eee;
}

#users_table li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #4CAF50;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#users_table li:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

#users_table li:hover:after{
    left: -.5em;
    border-left-color: #4CAF50;
}

.list-div-center{
    display: flex;
    justify-content: center;
    color: #4CAF50;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:120%;
    font-weight:bold;
}



/* ********** SLIDER BEGIN ********** */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite;
}

div#slider {
    height: 300px;
}
/* ********** SLIDER END ********** */
